<div class="url-output">
  <p class="success">Success! Please use this link</p>

  <div class="url-output-info">

    <input class="url-output-text" type="url" value="{{ shortenUrl }}" disabled>
    <!--
    <div class="alert alert-info" role="alert">
      <span class="mr-2">Your link is:</span> <code>{{shortenUrl}}</code>
    </div>
    -->
    <button type="button" class="btn btn-primary">Copy</button>
  </div>

</div>